.btn {
    width: auto;
    height: 60px;
    color: white;
    font-size: 1.5em;
    border-radius: 4px;
    outline: none;
  }

  .btn:hover {
    opacity: 0.5;
    transition: .2s linear all;
    /* pointer */
  }

  .orange {
    background-color: orange;
  }

  .orange2 {
    background-color: orangered;
  }